<h1>Hello {{ $ctrl.name }}!</h1>
<p>
  Actions:

  <button class="button" ng-click="$ctrl.getUsers()"> Find Users!</button>
  <button class="button" ng-click="$ctrl.selectedId = null;" ng-disabled="!$ctrl.selectedId">Unselect</button>
</p>
<span ng-if="show">Here I Am</span>
<div class="list-container">
  <div class="ng1">
    <h3 style="border-left: 4px solid var(--c-ng1); padding-left: 8px;">
      AngularJS (control)
    </h3>
    <user-item
      ng-if="$ctrl.selectedUser"
      user="$ctrl.selectedUser"
      selected
      unselectable
    ></user-item>
    <ul>
      <li ng-repeat="user in $ctrl.users">
        <user-item
          user="user"
          selected="user.id === $ctrl.selectedId"
          ng-on-select_me="$ctrl.onSelect($event)"
        ></user-item>
      </li>
    </ul>
  </div>
  <div class="vue">
    <h3 style="border-left: 4px solid var(--c-vue); padding-left: 8px;">
      Wrapped Vue Component
    </h3>
    <!-- <p ng-if="$ctrl.selectedUser">
      {{$ctrl.selectedUser.name}}
    </p> -->
    <v-user-item
      ng-if="$ctrl.selectedUser"
      ng-prop-user="$ctrl.selectedUser"
      selected
      unselectable
    ></v-user-item>
    <ul>
      <li ng-repeat="user in $ctrl.users">
        <v-user-item
          ng-prop-user="user"
          ng-prop-selected="user.id === $ctrl.selectedId"
          ng-on-select_me="$ctrl.onSelect($event)"
        >{{$ctrl.selectedId === user.id ? 'selected' : 'SELECT'}}</v-user-item>
      </li>
    </ul>
  </div>
  <v-user-list heading="Vue Component using DI" style="grid-area: 2 / 1;"></v-user-list>
</div>
